[user1]
old-user = radware
new-user = new-radware
password = newpassword1

[user2]
old-user = pavel
new-user = new-pavel
password = newpassword2

[user3]
old-user = usradmin
new-user = new-usradmin
password = newpassword3
