[snmpuser1]
old-user = radsnmp2
new-user = new-radsnmp
auth-password = newAuthPassword
privacy-password = newPrivPassword

[snmpuser2]
old-user = usradminv3
new-user = new-usradminv3
auth-password = newAuthPassword2
privacy-password = newPrivPassword2
